@model IEnumerable<BebelenLovePink.Models.Inventario>

@{
    ViewData["Title"] = "Bebelen Love Pink";
}

<p>
    <a asp-action="Create" class="btn btn-success">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Foto producto
            </th>
            <th>
                Nombre del Producto
            </th>
            <th>
                Cantidad de Stock
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.photo)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.name)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.quantities)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.id">Editar</a>
                    <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.id">Detalles</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>